#bannerImg {
    width:1425px;
}

header{
    background-color: #16FDFF;
}

.wrap{
    display: flex;
    flex-direction: row;
}

.wrap h3{
    margin:10px;
    margin-top:15px;
    font-size: 25px;
}

#logo{
    width:50px;
    height: 50px;
}

#headwrap{
    display: flex;
    justify-content: space-between;
}  

#navButtons button{
    margin:10px;
    margin-top:15px;
    padding:10px;
    font-size: 16px;
}

* {
    font-family: 'Roboto', sans-serif;
}

.carousel-item img{
    height: 400px;
}

#aboutWrap{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#aboutWrap p{
    margin:20px;
    width:600px;
}

.modal {
    text-align: center;
}

#modal-header{
    background-color: #16FDFF;
}

footer{
    position: relative;
    background-color: #16FDFF;
    text-align: center;
    padding: 10px;
}

#anchor{
    color:black;
}

#anchor:hover{
    text-decoration: none;
}
/* ########### hamburger menu ######### */
.hamburger-nav-bar {
    display: none;
}
.hamburger-menu-icon {
    display: none !important;
}
#signin-form, #signup-form {
    display: none;
}

#postWrap{
    display: flex;
    justify-content: space-between;
}

#postpagebody{
    background-color: rgb(240, 240, 240);
    width:600px;
    height:390px;
    border: 2px solid black;
    border-radius: 5px;
}

.message-body{
    background-color: rgb(240, 240, 240);
    width:600px;
    height:auto;
    border: 2px solid black;
    border-radius: 5px;
}

.formbox{
    width:610px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #16FDFF30;
}

.commentbox{
    background-color: #16FDFF30;
}

#commentsSection{
    width:600px;
}

.post-title{
    width:600px;
    background-color: deepskyblue;
    border-radius: 5px;
}

textarea{
    border: 2px solid black;
    outline:none;
    resize:none;
    overflow:auto;
    width:600px;
}

input{
    border: 2px solid black;
    width:600px;
}

.submitButton{
    width:100px;
}
/* button {
    margin-bottom: 10px;
} */

/* hamburger to show up in small screen */
@media only screen and (max-width: 690px) {
    .hamburger-menu-icon {
      display: block !important;
    }
    #headwrap{
      display: none !important;
    }
    #signin-form, #signup-form{
      padding-left: 20px
    }
}

@media only screen and (min-width: 690px) {
    .hamburger-menu-icon {
      display: none !important;
    }
    /* #headwrap{
      display: none !important;
    } */
    /* #SignInModal{
        display: block;
    } */

}