#bannerImg {
    width:1425px;
}

header{
    background-color: #16FDFF;
}

nav{
}

#logo{
    width:50px;
    height: 50px;
}

#headwrap{
    display: flex;
    justify-content: space-between;
}  

#logoWrap{
    display:flex;
    flex-direction: row;
}

#logoWrap h3{
    margin:10px;
    margin-top:15px;
    font-size: 25px;
}

#navButtons button{
    margin:10px;
    margin-top:15px;
    padding:10px;
    font-size: 16px;
}

* {
    font-family: 'Roboto', sans-serif;
}

.carousel-item img{
    height: 400px;
}

#aboutWrap{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#aboutWrap p{
    width:600px;
}