{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block signin %}
    <form method="POST" action="" class="form">
        {{ sign_in_form.hidden_tag() }}

        {% for field in sign_in_form %}
            {{ render_field(field) }}
        {% endfor %}
        <button type="submit" class="btn btn-dark" id="submit">Sign In!</button>
    </form>
{% endblock %}

{% block signup %}
    <form method="POST" action="" class="form">
        {{ sign_up_form.hidden_tag() }}

        {% for field in sign_up_form %}
            {{render_field(field)}}

        {% endfor %}
        <button type="submit" class="btn btn-dark" id="submit">Register!</button>
    </form>
{% endblock %}

{% block content %}
    <h2>Find out whats going on in your Neighborhood!</h2>
    <div id="neighborhoodList">
        {% for neighborhood in neighborhoods %}
                    <div id = 'neighbor_div' class="message-header">
                        <a href={{url_for('neighborpage', neighborid=neighborhood.id)}}>{{neighborhood.neighbname}},  {{neighborhood.city}}</a>
                        <img id = 'image_neighbor' src= {{neighborhood.imageNeighb}}/>
                    </div>
        {% endfor %}
    </div>
{% endblock %}





