{% block help %}

  <div>
    <h2>How to create a post:</h2>
    <div class="help-giph">
      <img src="https://media.giphy.com/media/ygBEGvAKG3kDO4jlSC/giphy.gif" />
    </div>
  </div>

  <div>
    <h2>How to edit your post:</h2>
    <div class="help-giph">
      <img src="https://media.giphy.com/media/MRHb6ckTc0u9lxq1iB/giphy.gif" />
    </div>
  </div>

  <div>
    <h2>How to like a post:</h2>
    <div class="help-giph">
      <img src="https://media.giphy.com/media/LV8JRpWguCwwsrrXpU/giphy.gif" />
    </div>
  </div>

{% endblock %}