<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>NeighborAlert</title>
</head>
<body>
    <header id="headwrap">
        <div id="logoWrap">
            <img id="logo" src={{url_for("static", filename= "neighlogo.png")}}>
            <h3>NeighborAlert</h3>
            <h3>Welcome</h3>
        </div>
        <nav id="navButtons">
            <button>Sign Up!!!!</button>
            <button>Sign In</button>
        </nav>
    </header>
    <br>

    <img id="bannerImg" src={{url_for("static", filename= "top_view.png")}}>

    <div class="column">
            {% block content %}
            {% endblock %}
    </div>
</body>
</html>
