{% extends "layout.html" %}

{% from 'macros.html' import render_field %}

{% block signin %}
<form method="POST" action="" class="form">
    {{ sign_in_form.hidden_tag() }}

    {% for field in sign_in_form %}
        {{ render_field(field) }}
    {% endfor %}
    <button type="submit" class="btn btn-dark" id="submit">Sign In!</button>
</form>
{% endblock %}

{% block signup %}
<form method="POST" action="" class="form">
    {{ sign_up_form.hidden_tag() }}

    {% for field in sign_up_form %}
        {{render_field(field)}}

    {% endfor %}
    <button type="submit" class="btn btn-dark" id="submit">Register!</button>
</form>
{% endblock %}

{% block content %}
<div id="postWrap">
    <div>
        <div class="post-title">
            <h4>{{post.title}}</h4>
            <h6>By: {{post.user.username}}</h6>
            <time data-time="{{ post.datePostCreated }}" class="distime" datetime="{{ post.datePostCreated.strftime('%Y-%m-%d  %I:%M') }}">{{ post.datePostCreated.strftime('%Y-%m-%d %I:%M') }}</time>
        </div>
        <div class="message-body">
            <img src={{post.imgUrl}} />
        </div>
        <div id="postpagebody" >
            {{post.text}}
        </div>

    </div>

    <div>
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q={{post.address}}&key=AIzaSyAVi2f6ymqCncDvu6tMlbsFGPq-kVK5WGE" allowfullscreen></iframe>
    </div>
</div>


{% if comments %}
    <div id="commentsSection">
        <h4>Comments</h4>
        {% for comment in comments %}
        <div class="commentbox">
            <div>
                <p>{{comment.commentText}}</p>
            </div>
            <div>
                <p>By: {{comment.user.username}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

{% if current_user.is_authenticated %}
    <section>
        <h6>Say something</h6>
        <form method="POST" novalidate>
            {{form.hidden_tag()}}
            <div>
                <div>
                    {{ form.commentText() }}
                </div>
            </div>
            <button id="submitButton" type=submit class="btn btn-primary">Comment</button>
        </form>
    </section>
{% endif %}

{% endblock %}