{% extends "layout.html" %}

{% block content %}
<div>
    <h3>My Profile Page</h3>
    <div id="profile-section">
        <h4>{{ user.fullname }}</h4>
        <h4>{{ user.username }}</h4>
        <h4>{{ user.email }}</h4>
        <h6>Joined On <time data-time="{{ user.joined_at }}" class="distime" datetime="{{ user.joined_at.strftime('%Y-%m-%d') }}">{{ user.joined_at.strftime('%Y-%m-%d') }}</time></h6>
    </div>
    <div id="my-posts">
        <h5 class="post-title">My Posts</h5>
        {% if posts %}    
            {% for post in posts %}
                <article class="message-body">
                    <div>
                        <a href={{url_for('posts', id=post.id)}}>{{post.title}}</a>
                    </div>
                    <div>
                        {{post.text}}
                    </div>
                    <a href={{url_for('edit_post', postid=post.id)}}><button class="btn btn-dark" id="submitButton">Edit</button></a>
                    <a href={{url_for('delete_post', postid=post.id)}}><button class="btn btn-danger" id="submitButton">Delete</button></a>
                </article>
            {% endfor %}
        {% endif %}
    </div>
</div>

<!-- {{ super() }} -->
{% endblock %}