{% extends "layout.html" %}

{% block content %}
<div>
    <div>
        <h1>Profile Page</h1>
        <h1>{{ user.fullname }}</h1>
        <h1>{{ user.username }}</h1>
        <h1>{{ user.email }}</h1>
        <h1>{{ user.joined_at }}</h1>
    </div>
    <div>
            <h5>My Posts</h5>

    {% if posts %}
    <h1>Post List</h1>
    
    {% for post in posts %}
    <article class="message is-primary">
        <div class="message-header">
            <a href={{url_for('posts', id=post.id)}}>{{post.title}}</a>
            <p> By: {{post.user.username}}</p>
                
        </div>
        <div class="message-body">
            {{post.text}}
        </div>
        <a href={{url_for('delete_post', postid=post.id)}}><button class="btn btn-dark">Delete</button></a>

        <a href={{url_for('delete_post', postid=post.id}}<button class="btn btn-dark">Edit</button></a>
        
    </article>
    {% endfor %}
    {% endif %}
    </div>
</div>

<!-- {{ super() }} -->
{% endblock %}