{% extends "layout.html" %}

{% block content %}
<div>
    <div>
        <h3>Profile Page</h3>
        <h4>{{ user.fullname }}</h4>
        <h4>{{ user.username }}</h4>
        <h4>{{ user.email }}</h4>
        <h4>{{ user.joined_at }}</h4>
    </div>
    <div>
            <h5>My Posts</h5>

    {% if posts %}
    <h3>Post List</h3>
    
    {% for post in posts %}
    <article class="message is-primary">
        <div class="message-header">
            <a href={{url_for('posts', id=post.id)}}>{{post.title}}</a>
            <p> By: {{post.user.username}}</p>
                
        </div>
        <div class="message-body">
            {{post.text}}
        </div>
        <button class="btn btn-dark">Edit</button> 
        <a href={{url_for('delete_post', postid=post.id)}}><button class="btn btn-danger">Delete</button></a>
    </article>
    {% endfor %}
    {% endif %}
    </div>
</div>

<!-- {{ super() }} -->
{% endblock %}